<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>HQ Interface - CEG Hypermarket 13</title>

		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">		
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	
	<body>
		<div class="login-container">
			<div style="margin-top:50%;">
			<p class="big-heading">HQ Admin Login</p>
				<div><input id="username" type="text" placeholder="Username"/></div>
				<div><input id="password" type="password" placeholder="Password"/></div>
			</div>
			<div><br/><button class="btn btn-success" style="width: 263px; height: 34px; border-radius: 7px; font-size:1.5em;font-weight:bold;">Login</button><div/>
		</div>
	</body>

</html>
