<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>HQ Interface - CEG Hypermarket 13</title>
		<script src="js/jquery.js"></script>

		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
		<script src="js/bootstrap-modal.js"></script>
		<script src="js/editablegrid.js"></script>
		<script src="js/editablegrid_renderers.js" ></script>
		<script src="js/editablegrid_editors.js" ></script>
		<script src="js/editablegrid_validators.js" ></script>
		<script src="js/editablegrid_utils.js" ></script>
		<script src="js/product.js"></script>
		
		<link rel="stylesheet" href="css/editablegrid.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">		
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	
	<body>
		<div class="container">	
			<div class="hero-unit">
				<h1>HQ Hypermarket 13</h1>
			</div>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner ">
					<ul class="nav">
					  <li id="product-link" class="active"><a href="admin.html">Products</a></li>
					  <li id="stock-link"><a href="stock.html">Stock</a></li>
					  <li id="transaction-link"><a href="transaction.html">Transaction</a></li>
					  <li id="inventory-link"><a href="inventory.html">Inventory</a></li>
					  <li id="statistic-link"><a href="statistics.html">Statistics</a></li>
					  <li id="statistic-link"><a href="outlet.html">Outlets</a></li>
					  <li id="online-link"><a href="onlineshop.html">Online Shop</a></li>
					</ul>
				</div>
			</div>
			<div id ="productcontent">
				<a href="#addNewProduct" role="button" class="btn" data-toggle="modal">Add New Product</a>
				<div id="addNewProduct" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNewProductLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="addNewProductLabel">Add New Product</h3>
					</div>
					<div class="modal-body">
						<form id ="new-product-form" class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputBarcode">Product barcode</label>
								<div class="controls">
									<input type="text" id="inputBarcode" placeholder="Product barcode"><span id="feedback"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputName">Product name</label>
								<div class="controls">
									<input type="text" id="inputName" placeholder="Product name">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputCategory">Category</label>
								<div class="controls">
									<input type="text" id="inputCategory" placeholder="Category name">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputManufacturer">Manufacturer</label>
								<div class="controls">
									<input type="text" id="inputManufacturer" placeholder="Name of manufacturer">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPrice">Cost Price</label>
								<div class="controls">
									<input type="text" id="inputPrice" placeholder="Price in $X.XX">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputImage">Image</label>
								<div class="controls">
									<input type="text" id="inputImage" placeholder="Image URL">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button id ="confirm-add-product" class="btn btn-primary">Save changes</button>
					</div>
				</div>
				<div id="addNewInventory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNewInventoryLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="addNewInventoryLabel">Attach Product <span id="product-barcode"></span> <span id="product-name"></span> to outlet inventory</h3>
					</div>
					<div class="modal-body">
						<form id ="new-inventory-form" class="form-horizontal" onsubmit="return false;">
							<div class="control-group">
								<label class="control-label" for="inputOutlet">Outlets</label>
								<div class="controls">
									<select multiple="multiple" id="outlet-selector"> <!--to be generated dynamically -->
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSellingPrice">Selling Price</label>
								<div class="controls">
									<input type="text" id="inputSellingPrice" placeholder="Price in $X.XX"> <span id="helper-text"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputMinStock">Min. Stock</label>
								<div class="controls">
									<input type="text" id="inputMinStock" placeholder="Enter in digits">
								</div>
							</div>						
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button id ="confirm-inventory-product" class="btn btn-primary">Confirm</button>
					</div>
				</div>
				<label for="filter"><br/>Filter :</label>
				<input class="span4" type="text" id="filter" placeholder="Enter product barcodes or any of its details"/>

				<div id="producttablecontent" align="center"></div>
				<!-- Paginator control -->
				<div id="paginator"></div>
			</div>

			<hr />
			<footer>
			<p>CG3002 Hypermarket Project AY12/13 Semester 1</p>
			</footer>
		</div>
	</body>

</html>
