<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Customer Website</title>
		<script src="js/jquery.js"></script>

		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
		<script src="js/bootstrap-modal.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-alert.js"></script>
		<script src="js/bootstrap-carousel.js"></script>
		<script src="js/website.js"></script>

		<script src="js/editablegrid.js"></script>
		<script src="js/editablegrid_renderers.js" ></script>
		<script src="js/editablegrid_editors.js" ></script>
		<script src="js/editablegrid_validators.js" ></script>
		<script src="js/editablegrid_utils.js" ></script>
		<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/editablegrid.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
		<link rel="stylesheet" href="css/website-style.css" type="text/css" media="screen">	
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	
	<body>
<div id="fb-root"></div>
<div id="appId" type="hidden"><%= fbapp %></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  var fbappId = document.getElementById("appId").innerHTML;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=135656873253305";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<div class="container-fluid">	
			<div class="row-fluid">
				<div class="span9" id="mainner">		
					<div class="hero-unit">
						<h1>Hyper 13 Online Shop</h1><br/><div id="login-ui"></div>
					</div>
					<div class="carousel slide" id="myCarousel" style="height:220px;">
						<div class="carousel-inner">
							<div class="item active"><img class="c-image" src="/images/1.jpg"/></div>
							<div class="item"><img class="c-image" src="/images/2.jpg"/></div>
							<div class="item"><img class="c-image" src="/images/3.jpg"/></div>
							<div class="item"><img class="c-image" src="/images/4.jpg"/></div>
						</div>
						<a data-slide="prev" href="#myCarousel" class="left carousel-control" style="display:none;">‹</a>
						<a data-slide="next" href="#myCarousel" class="right carousel-control" style="display:none;">›</a>
					</div>						
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<ul class="nav">
								<li id="catalog-link" class="tb-link active"><a style="cursor:pointer;">Catalog</a></li>
								<li id="order-link" class="tb-link"><a style="cursor:pointer;">Your Orders</a></li>
								<li id="store-link" class="tb-link"><a style="cursor:pointer;">Store locator</a></li>
							</ul>
							<ul class="nav pull-right">
								<li id="account-link" class="tb-link"><a style="cursor:pointer;">Account</a></li>
							</ul>	
						</div>
					</div>
					<div class="alert alert-success fade in">
						<button type="button" class="close" id="close-alert">&times;</button>
						<strong>Success!</strong> Transaction completed. Click 'Your Orders' to see your order details.
					</div>
					<div id="catalog-display" class="display">
					</div>
					
					<div id="order-display" class="display">
						<label for="filter"><br/>Filter :</label>
						<input class="span4" type="text" id="filter" placeholder="Filter by any transaction details"/>
						<div id="ordertablecontent" ></div>
						<div id="paginator"></div>
					</div>
					<div id="store-display" class="display">
						<div class="span4" id="outlet-info"><h3>Outlet listing <button class="btn btn-small" onclick="locateMe()">Nearest outlet</button></h3> <br/><input type="text" id="origin" class="span10" placeholder="Get directions from address"/>
						<p></p></div>
						<div id="googleMap" class="span7" style="height:320px; "></div>
					</div>
					<div id="account-display" class="display" style="margin-left: 15px;">
					</div>
					<br/><br/>
				</div>
				<div id="sc-panel" class="span3">
					<br /><br />
					<h4 style="text-align: right; margin-right:4px;">Your Shopping Cart&nbsp;&nbsp;<img src="images/shoppingcart.png"/></h4>
					<hr>
					<div id="shopping-cart-wrapper">
						<span id="empty-msg">You have no items in the shopping cart.</span>
						<div id="shopping-cart-container" style="display:none;">
							<table id="shopping-cart" class="table">
								<thead><tr><th>Item name</th><th>Unit Price</th><th>Qty</th><th></th></tr></thead>
							</table>
							<div style="text-align:right;"><b>Total price</b>: S$<span id="total-price">0</span></div>
						</div>
					</div>
					<div id="shopping-cart-options" class="pull-right">
						<button id="clear-all" class="sc-opt btn btn-mini" disabled="disabled">Clear all</button>
						<button id="checkout" class="sc-opt btn btn-mini btn-success" disabled="disabled">Checkout</button>
						
					</div>
				</div>
			</div>

			<div id="addNewOrder" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNewOrderLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="addNewOrderLabel">New Order</h3>
				</div>
				<div class="modal-body">
					<form id ="confirmation-form" class="form-horizontal">
						<table id="confirm-cart" class="table">
						</table>
						<div><b>Total price</b>: S$<span id="total-confirm-price">0</span></div>
						<div class="control-group">
							<label class="control-label" for="inputDeliveryAddress">Delivery Address:</label>
							<div class="controls">
								<input type="text" id="inputDeliveryAddress" placeholder="">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button id ="confirm-add-order" class="btn btn-success">Confirm Checkout</button>
				</div>
			</div>
			<div id="transaction-detail-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="tdlabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="tdlabel">Transaction details</h3>
				</div>
				<div class="modal-body">
					<input class="span4" type="text" id="filter2" placeholder="Filter by any transaction details"/>
					<div id="tdtablecontent"></div>
					<div id="paginator2"></div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>
			<div id="product-detail-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pdlabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="pdlabel">Product detail</h3>
				</div>
				<div class="modal-body">
					<div id="product-detail">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>				

			
		</div>
	
	</body>

</html>
