<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Customer Website</title>
		<script src="js/jquery.js"></script>

		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
		<script src="js/bootstrap-modal.js"></script>
		<script src="js/website.js"></script>
		
		<link rel="stylesheet" href="css/editablegrid.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/website-style.css" type="text/css" media="screen">		
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	
	<body>
		<div class="container-fluid">	
			<div class="row-fluid">
				<div class="span9">		
					<div class="hero-unit">
						<h1>Customer website</h1>
					</div>
					<div class="navbar navbar-inverse">
						<div class="navbar-inner ">
							<ul class="nav">
							  <li id="product-link" class="active"><a href="index.html">Catalog</a></li>
							  <li id="stock-link"><a href="stock.html">Your Orders</a></li>
							</ul>
							<ul class="nav pull-right">
								<li><a href="account.html">Account Settings</a></li>
							</ul>	
						</div>
					</div>

					<div id="catalog-display">
					</div>
				</div>
				<div class="span3" id="sc-panel">
					<br /><br />
					<h4 style="text-align: right;">Your Shopping Cart&nbsp;&nbsp;<img src="images/shoppingcart.png"/></h4>
					<hr>
					<div id="shopping-cart">
						You have no items in the shopping cart.
					</div>
					<div id="shopping-cart-options" class="pull-right">
						<a class="btn btn-mini">Clear all</a>
						<a class="btn btn-mini btn-success">Checkout</a>
						
					</div>
				</div>
			</div>
			<hr />
			<footer>
			<p>CG3002 Hypermarket Project AY12/13 Semester 1</p>
			</footer>
		</div>
	</body>

</html>
