<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>EditableGrid - Minimal demo - Creating grid in Javascript</title>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap-transition.js"></script>
		<script src="js/bootstrap-alert.js"></script>
		<script src="js/bootstrap-modal.js"></script>
		<script src="js/bootstrap-dropdown.js"></script>
		<script src="js/bootstrap-scrollspy.js"></script>
		<script src="js/bootstrap-tab.js"></script>
		<script src="js/bootstrap-tooltip.js"></script>
		<script src="js/bootstrap-popover.js"></script>
		<script src="js/bootstrap-button.js"></script>
		<script src="js/bootstrap-collapse.js"></script>
		<script src="js/bootstrap-carousel.js"></script>
		<script src="js/bootstrap-typeahead.js"></script>

		<script src="js/editablegrid.js"></script>
		<script src="js/editablegrid_renderers.js" ></script>
		<script src="js/editablegrid_editors.js" ></script>
		<script src="js/editablegrid_validators.js" ></script>
		<script src="js/editablegrid_utils.js" ></script>
		<script src="js/editablegrid_charts.js" ></script>
		<link rel="stylesheet" href="css/editablegrid.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	
	<body>
		<div class="container">	
			<div class="hero-unit">
				<h1>Hypermarket 13</h1>
			</div>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner ">
					<ul class="nav">
					  <li id="product-link"><a href="index.html">Products</a></li>
					  <li id="transaction-link"><a href="transaction.html">Transactions</a></li>
					  <li id="stock-link"><a href="stock.html">Stock</a></li>
					  <li id="supplier-link"><a href="supplier.html">Suppliers</a></li>
					  <li id="statistic-link" class="active"><a href="statistics.html">Statistics</a></li>
					</ul>
				</div>
			</div>

			<div id="statcontent">
			</div>
			<hr />
			<footer>
			<p>CG3002 Hypermarket Project AY12/13 Semester 1</p>
			</footer>
		</div>
	</body>

</html>
