body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
h1 { font-size: 15px; }
a { color: #548dc4; text-decoration: none; }
a:hover { text-decoration: underline; }
table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
table.detailgrid { border-collapse: collapse; border: 1px solid #CCB; width: 500px; }
table.detailgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
table.detailgrid th { background: #E5E5E5; text-align: left; }
table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
table.testgrid th { background: #E5E5E5; text-align: left; }
label.invalid { color: red; }
.container-fluid{width: 1150px; margin-left:auto;margin-right:auto;}

#sc-panel{
border-left: 4px solid black; 
border-bottom: 1px solid lightgrey; 
padding-bottom: 7px;
position: fixed;
right: 65px;
}
#catalog-display{padding-left:85px;}
#shopping-cart-wrapper{margin: 10px 10px; padding-bottom: 10px;}
.table{padding:0px}
.image-holder {
	text-align: center;
}
.product-image {
	max-width: 168px;
	max-height: 126px;
}
#catalog-paginator{
	clear:left;
}
.change{
font-weight:normal;
font-size:0.8em;
}
#outlet-info{
margin-left:15px;
}
.outlet-listing{
font-size:1.1em;
margin-bottom: 20px;
}
h13{
font-size:1.4em;
font-weight:bold;
}